/*
 * Designed and programmed by Alvin Wan.
 * @author: Alvin Wan
 * @site: alvinwan.com
 * @date: 02/18/2018
 */
* {
    float:left;
    position:relative;
    font-family:'Cormorant Garamond';
    margin:0;
    padding:0;
}
body, html, main,section,footer {
    width:100%;
}
p a {
    display:inline-block;
    float:none;
    color:#39b54a;
    border-bottom:1px solid #39b54a;
    line-height:115%;
}
p a:hover {
    text-decoration:none;
    color:#23712d;
    border-bottom:1px solid #23712d;
}
.category {
    text-transform:uppercase;
    font-size:0.9em;
    width:100%;
    font-family:'Lato';
    text-align:center;
    letter-spacing:0.25em;
    color:#666;
}
.category:hover {
    color:#333;
}
.category.without-bar {
    text-align:left;
}
.category .text {
    width:100%;
    font-family:inherit;
    display:inline-block;
}
.category .category-bar {
    margin-top:1.5em;
    clear:both;
    width:4em;
    height:0.25em;
    background-color:#39b54a;
    display:inline-block;
    float:none;
}

.landing {
    padding:5em 0 3em 0;
}
.landing-bg {
    left:0;
    top:0;
    position:absolute;
    width:100%;
    z-index:-1;
    margin-top:-5em;
}
.landing-title {
    font-size:7em;
    width:100%;
    text-align:center;
    margin-top:0.5em;
}
.landing-subtitle {
    margin-top:1em;
    color:#000;
    width:100%;
    text-align:center;
    font-size:1.5em;
}
.landing-subtitle span {
    display:inline-block;
    float:none;
}
.arrow-down {
    color:#39b54a;
    font-size: 2em;
    margin-bottom: -0.5em;
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(30px);
    transform: translateY(30px);
  }
  60% {
    -moz-transform: translateY(15px);
    transform: translateY(15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  60% {
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  60% {
    -moz-transform: translateY(15px);
    -ms-transform: translateY(15px);
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

.cards {
    margin-top:3em;
    width:100%;
    z-index:20;
}
.cards div.card {
    border-radius:0.5em;
    box-shadow:0 0 3em rgba(0,0,0,0.15);
    overflow:hidden;
    padding:0;
    width:25em;
    text-align:left;
    float:none;
    display:inline-block;
    z-index:25;
    background-color:#FFF;
}
.wrap-container {
    text-align:center;
}
div.wrap {
    float:none;
    display:inline-block;
}
.card + .card {
    margin-left:2.5em;
}
.card span {
    font-size:1em;
    text-transform:uppercase;
    font-family: 'Lato';
    letter-spacing:0.25em;
    color:#39b54a;
    padding: 2em 2.75em 0 2.75em;
}
.card h3 {
    margin:0;
    line-height:125%;
    font-size:1.75em;
    padding:0.25em 1.5em;
}
.card p {
    width:100%;
    background-color:#f3f3f3;
    color:#999;
    margin:1em 0 0 0;
    padding:1em 2.75em;
    font-family:'Lato';
}


.twt-title {
    font-size:2.5em;
    text-align:center;
    width:100%;
    margin-top:1em;
}
.twt-copy,.half-subtitle {
    font-size:1.7em;
    margin-top:1em;
    color:#999;
}
.button-container {
    width:100%;
    margin-top:2em;
    margin-bottom:3em;
}
.button {
    font-size:1.75em;
    padding:0.75em 3.75em;
    color:#FFF;
    display:inline-block;
    border-radius:0.35em;
    float:none;
    white-space: nowrap;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8cc63f+0,009245+100 */
    background: #8cc63f; /* Old browsers */
    background: -moz-linear-gradient(left, #8cc63f 0%, #009245 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #8cc63f 0%,#009245 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #8cc63f 0%,#009245 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8cc63f', endColorstr='#009245',GradientType=1 ); /* IE6-9 */
}

.button.orange {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7931e+0,f15a24+100 */
    background: #f7931e; /* Old browsers */
    background: -moz-linear-gradient(left, #f7931e 0%, #f15a24 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #f7931e 0%,#f15a24 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #f7931e 0%,#f15a24 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7931e', endColorstr='#f15a24',GradientType=1 ); /* IE6-9 */
}

.button-container .tab {
    position:absolute;
    top:100%;
    text-transform:uppercase;
    letter-spacing:0.15em;
    background-color:#eee;
    color:#666;
    font-size:0.75em;
    font-family:'Lato';
    padding:1em 5em;
    left:50%;
    border-radius:0 0 0.75em 0.75em;
    transform: translateX(-50%);
    white-space:nowrap;

    display:none /* for now */
}

.text-copy {
    margin:5em 0 3em 0;
}
.tc-copy {
    margin-top:1em;
    column-count:1;
    text-align:left;
    font-size:1.25em;
    line-height:175%;
}
.tc-copy + .category {
    margin-top:5em;
}

.halves {
    padding:5em 0;
    background-color:#f6f6f6;
}
.halves .half {
    padding:0 5em;
    margin-top:3em;
}
.half-subtitle {
    width:100%;
    text-align:center;
    font-size:2em;
    margin:0;
}
.half-title {
    font-size:3.5em;
    width:100%;
    text-align:center;
}
.image-container {
    margin:3em 0 2em 0;
    width:100%;
    text-align:center;
}
.half .image-container img {
    width:100%;
    display:inline-block;
    float:none;
}
.button span {
    float:none;
    color:rgba(255,255,255,0.5);
}
.bg-grad-1 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#39b54a+0,006837+100 */
    background: #39b54a; /* Old browsers */
    background: -moz-linear-gradient(45deg, #39b54a 0%, #006837 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #39b54a 0%,#006837 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #39b54a 0%,#006837 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#39b54a', endColorstr='#006837',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.bg-grad-2 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#009245+0,fcee21+100 */
    background: #009245; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #009245 0%, #fcee21 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #009245 0%,#fcee21 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #009245 0%,#fcee21 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009245', endColorstr='#fcee21',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.bg-grad-3 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8cc63f+0,22b573+100 */
    background: #8cc63f; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #8cc63f 0%, #22b573 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #8cc63f 0%,#22b573 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #8cc63f 0%,#22b573 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8cc63f', endColorstr='#22b573',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.blob-triangles-1 {
    position:absolute;
    width:100%;
    top:-10%;
    left:0;
}
.blob-triangles-2 {
    position:absolute;
    width:120%;
    top:-25%;
    left:-10%;
}
.blob-triangles-3 {
    position:absolute;
    width:100%;
    top:-25%;
    left:-10%;
}
.blobs .blob {
    background-color:#FFF;
    box-shadow: 0 0 2em rgba(0,0,0,0.2);
    border-radius:1em;
    padding:0;
    width:100%;
}
.blobs .blob + .blob {
    margin-top:3em;
}
.blob-cover {
    border-radius:1em 1em 0 0;
    width:100%;
    text-align:center;
    padding:2em 0;
}
.blob .no,.blob .title {
    width:100%;
    color:#FFF;
    margin:0;
    line-height:100%;
}
.blob .no {
    font-size:3.5em;
}
.blob .title {
    font-size:2.5em;
    margin-top:0.25em;
}
.blob .desc {
    padding:2em;
    font-size:1.2em;
    color:#666;
}
.blobs {
    margin-top:3em;
    margin-bottom:2em;
}
.text-process {
    margin-bottom:5em;
}
.profiles {
    margin:5em 0;
}
.profile {
    text-align:center;
    margin-bottom:2em;
}
.profile-mask {
    height:8em;
    width:8em;
    border-radius:50%;
    background-color:#999;
    overflow:hidden;
    display:inline-block;
    float:none;
    position:relative;
}
.profile-mask span,.profile-mask img {
    width:100%;
    display:inline-block;
    float:none;
    position:static;
}
.profile-mask span {
    height:100%;
}
.profile-name {
    width:100%;
    margin:1.25em 0 0 0;
    font-size:1.25em;
}
.profile-byline {
    width:100%;
    text-transform:uppercase;
    font-family:'Lato';
    letter-spacing:0.25em;
    font-size:0.8em;
    margin-top:0.5em;
}
.button:hover {
    box-shadow:0 0 1em rgba(0,0,0,0.25);
    color:#FFF;
    text-decoration:none;
}
.spsrs-container.wrap-container {
    margin-bottom:17em;
}
.spsrs-container .wrap {
    margin-bottom:-15em;
}
.spsrships {
    width:90%;
    margin-left:4.5%;
    background-color:#FFF;
    box-shadow:0 0 1em rgba(0,0,0,0.25);
    margin-top:5em;
}
.spsrships .row {
    width:100%;
    margin:0;
}
.spsrships p {
    color:#999;
    width:100%;
    padding-top:1em;
    margin-bottom:-2em;
    text-align:center;
}
.spsrships .row + .row::after {
    content: "";
    top:0;
    position:absolute;
    left:10%;
    width:80%;
    height:0.15em;
    background-color:#eee;
    display:inline-block;
}
.spsr-container {
    text-align:center;
    padding:5em 3em;
}
.spsr-container + .spsr-container::before {
    content:"";
    position:absolute;
    top:25%;
    bottom:25%;
    background-color:#eee;
    width:0.15em;
    left:0;
}
.spsr-text {
    color:#999;
    width:100%;
    font-size:0.9em;
    letter-spacing:0.15em;
    text-transform:uppercase;
    font-family:'Lato';
    margin-top:1em;
}
.spsr-img {
    width:12.5em;
    height:10em;
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
    float:none;
    display:inline-block;
}
header {
    width:100%;
    position:fixed;
    top:0;
    left:0;
    background-color:#FFF;
    z-index:100;
}
html {
    padding-top:10em;
}
.header-logo {
    width:5em;
    margin:2em 3em;
}
header nav {
    float:right;
    padding-right:3em;
}
header li {
    list-style:none;
}
header li a {
    font-family:'Lato';
    text-transform:uppercase;
    letter-spacing:0.1em;
    color:#999;
    padding:2.5em 1.5em;
}
header li a:hover {
    color:#333;
    text-decoration:none;
    background-color:#f6f6f6;
}
footer {
    padding:10em 0;
}
footer p {
    width:100%;
    color:#666;
    text-align:center;
}
.links a {
    font-family:'Lato';
    color:#999;
    border-bottom:1px solid rgba(0,0,0,0);
    font-size:0.9em;
    text-transform:uppercase;
    letter-spacing:0.25em;
}
.links a + a {
    margin-left:3em;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .tc-copy {
        column-count: 2;
        column-gap:3em;
    }
    .blobs .blob {
            width:30%;
    }
    .blobs .blob + .blob {
        margin-top:0;
        margin-left:5%;
    }
    .halves .half + .half {
        border-left:0.15em solid #e3e3e3;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}